*{
  font-family: 'PT Serif', serif;
  color: #AC387C;
}
body{
    background-image:  url(./images/road-4376170_1280.png);
    background-size:     cover;         
    background-repeat:   no-repeat;
    background-color: #f9f871;
}
h1{
  color: #911D61;
  text-align: center;
}
